<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.yapp.app.App"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllRounder3"
        tools:ignore="MissingApplicationIcon">
        <activity
            android:name="com.yapp.presentation.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.yapp.presentation.ui.main.MainActivity"/>
        <activity
            android:name="com.yapp.presentation.ui.createproject.CreateProjectActivity"
            android:windowSoftInputMode="adjustResize"
            />

    </application>

</manifest>